/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 200ms linear;
}

/* Fonts */
@font-face {
  font-family: Rubik Mid;
  src: url(fonts/rubik/Rubik-Medium.ttf);
}

@font-face {
  font-family: Rubik Regular;
  src: url(fonts/rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik Light;
  src: url(fonts/rubik/Rubik-Light.ttf);
}

@font-face {
  font-family: Nevis;
  src: url(fonts/Nevis/nevis.ttf);
}

/* Raw Tags */
body {
  background-color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: rgb(29, 29, 29);
  margin-top: 150px;
  padding: 10px;
  color: white;
  font-family: Nevis;
  text-align: center;
}

/* Header Content */
.head {
  height: 100vh;
  background-image: url(images/Header\ Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Navigation */
nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 10;
}

.nav-container {
  display: flex;
  width: 550px;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  background-color: #3f51b5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 50%);
}

.nav-container a:hover {
  color: rgb(210, 210, 210);
  transition: all 150ms linear;
}

.nav-menu {
  margin: 10px 40px 10px 40px;
  color: white;
  font-family: Nevis;
}

/* Icon and Regards */
.name-chara {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  position: relative;
  right: -100px;
  font-family: Rubik Regular;
  width: 20%;
}

.head-h1-name {
  font-family: Rubik Mid;
  color: #3f51b5;
}

.head-h3 {
  color: #3f51b5;
  margin: 10px 0;
}

.head-parag {
  font-family: Rubik Regular;
  color: gray;
  margin: 10px 0 18px 0;
}

.resume {
  margin: 10px 0;
  font-family: Nevis;
  background-color: #3f51b5;
  color: white;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 30%);
}

.resume:hover {
  background-color: #33408b;
  transition: all 150ms linear;
}

.chara {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.gab {
  position: relative;
  height: 600px;
  left: -30px;
}

.github,
.ig,
.email {
  position: relative;
  height: 18px;
  margin: 30px 5px 0 5px;
  right: 5px;
}
.github:hover,
.ig:hover,
.email:hover {
  filter: drop-shadow(0 0 10px white);
  transition: all 150ms linear;
}
.email {
  position: relative;
  height: 25px;
  top: 4px;
}

/* End of Header */
/* Main */

.main {
  margin: 5%;
}

/* About */
.about {
  margin: 100px 0;
  background-color: #3f51b5;
  border-radius: 15px;
}

.about-section {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.profile-bg {
  background-color: white;
  border-radius: 50%;
  height: 300px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 30%);
}

.gab-pfp {
  height: 300px;
}

.about-title {
  font-size: 250%;
  text-align: center;
  color: #3f51b5;
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
  width: 210px;
  border-radius: 5px;
  font-family: Nevis;
  box-shadow: 0 0 30px rgba(0, 0, 0, 30%);
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 40%;
}

.about-paragraph {
  color: white;
  font-family: Rubik Light;
  margin: 10px 0;
}

/* Projects */

.title-projects {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects-title {
  font-size: 250%;
  width: 100%;
  margin-top: 100px;
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  text-align: center;
  border-radius: 9px;
  font-family: Nevis;
}

.projects {
  margin-top: 40px;
  background-color: #3f51b5;
  border-radius: 15px;
}

.projects-section {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

/* Card Projects */

.card {
  width: 200px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  font-family: Rubik Regular;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.card-img {
  margin-top: 15px;
  align-self: center;
}

.img-project {
  height: 100px;
  border-radius: 8px 8px 0 0;
}

.card-text {
  height: 150px;
  margin: 0 10px 0 10px;
}

.card-text h3 {
  margin-top: 8px;
}

.card-text p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.card-btn {
  height: 25px;
  width: 30%;
  padding-top: 3px;
  margin-top: 30px;
  background-color: #3f51b5;
  text-align: center;
  border-radius: 5px;
}

.card-btn:hover {
  background-color: #33408b;
  transition: all 150ms linear;
}

/* End of Cards */

/* End of Projects */

/* Classlist for JS */

.dark-head {
  height: 100vh;
  background-image: url(images/Header\ Background\ dark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pure-black {
  background-color: #36393e;
}

.black {
  background-color: #212121;
}

.white {
  color: white;
}

.gray {
  color: gray;
}

.gray-bg {
  background-color: gray;
}

/* Responsive Breakpoints */

/* Mobile/Phone */

.menu {
  display: none;
}

@media screen and (max-width: 480px) {
  /* Nav */

  .menu {
    display: flex;
    width: 35px;
    height: 30px;
    padding: 1px;
    margin: 0 5px 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
    background-color: #3f51b5;
    border-radius: 0 0 5px 5px;
    position: relative;
    cursor: pointer;
  }

  .menu span {
    background-color: white;
    width: 15px;
    height: 3px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
  }

  .menu span:hover {
    background-color: rgb(210, 210, 210);
  }

  .line-1 {
    transform: rotate(-45deg) translate(-4px);
    transform-origin: 100% 0;
  }

  .line-2 {
    transform: rotate(45deg) translate(-2px);
    transform-origin: 100% 0;
  }

  .display-none {
    opacity: 0%;
  }

  .nav-container {
    width: 65%;
    height: 25vh;
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    transform: translateY(-400px);
    transition: all 350ms linear;
  }

  .slide {
    transform: translateY(0.1px);
  }

  .nav-container a {
    border-bottom: 1px solid;
    margin: 10px 20px;
  }

  /* Head */

  .name-chara {
    flex-direction: column;
  }

  .name {
    width: 70%;
    left: 0px;
    margin: 150px 10px 10px 0;
  }

  .gab {
    height: 250px;
    transform: translateX(85px);
  }

  /* About */

  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .profile-bg {
    height: 150px;
    width: 150px;
  }

  .gab-pfp {
    height: 150px;
  }

  .about-text {
    align-self: flex-start;
    width: 100%;
  }

  .about-title {
    font-size: 200%;
    margin-top: 30px;
  }

  .about-paragraph {
    position: relative;
    left: -10px;
  }

  /* Projects */

  .projects-title {
    font-size: 200%;
    width: 100%;
  }

  .projects-section {
    padding: 10px;
    display: grid;
    grid-template-areas:
      "project1 project1"
      "project2 project3"
      "project4 project5";
  }

  .card {
    width: 130px;
  }

  .card2,
  .card3,
  .card4,
  .card5 {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    margin-top: 30px;
  }

  .card2 {
    grid-area: project2;
  }

  .card3 {
    grid-area: project3;
  }

  .card4 {
    grid-area: project4;
  }

  .card5 {
    grid-area: project5;
  }

  .card4,
  .card5 {
    margin-bottom: 15px;
  }

  .img-project {
    height: 70px;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -4px;
  }

  .card-text h3 {
    font-size: 95%;
    padding: 0;
  }

  .card-text p {
    font-size: 9px;
    margin-top: 3px;
  }

  .card-btn {
    margin-top: 15px;
    font-size: 9px;
    height: 16px;
  }

  .card1 {
    margin-top: 15px;
    grid-area: project1;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 130px;
  }

  .card1 .img-project {
    position: relative;
    height: 100px;
    top: -5px;
    margin-left: 13px;
    border-radius: 5px;
  }

  .card1 .card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 9px;
  }

  .card1 .card-text h3 {
    font-size: 100%;
  }

  .card1 .card-text p {
    font-size: 9px;
    margin: 5px 9px 0 0;
    width: 80%;
  }

  .card1 .card-btn {
    margin-top: 8px;
    height: 16px;
  }

  .card1 a {
    position: relative;
    font-size: 9.5px;
    top: -1.5px;
  }
}

/* Tablet */

@media screen and (min-width: 480px) and (max-width: 900px) {
  /* Nav */

  .nav-container {
    width: 600px;
  }

  .nav-container a {
    font-size: 130%;
  }

  /* Head */

  .name-chara {
    flex-direction: column;
  }

  .name {
    width: 60%;
    height: 60%;
    left: -90px;
    top: 80px;
    margin: 150px 10px 10px 0;
  }

  .head-h1-regards,
  .head-h1-name {
    font-size: 300%;
  }

  .head-h3 {
    font-size: 200%;
  }

  .head-parag {
    font-size: 170%;
    margin-bottom: 25px;
  }

  .resume {
    padding: 10px;
    font-size: 140%;
  }

  .github,
  .ig {
    height: 30px;
  }

  .email {
    height: 40px;
    margin-bottom: -3px;
  }

  .gab {
    height: 410px;
    transform: translateX(180px);
  }

  /* About */

  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .profile-bg {
    height: 250px;
    width: 250px;
  }

  .gab-pfp {
    height: 250px;
  }

  .about-text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-title {
    font-size: 300%;
    margin-top: 30px;
    align-self: center;
    width: 50%;
  }

  .about-paragraph {
    font-size: 140%;
    text-align: center;
    align-self: center;
    width: 80%;
  }

  /* Projects */

  .projects-title {
    font-size: 300%;
    width: 400px;
    padding: 10px;
  }

  .projects-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: row;
    width: 92%;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .card5 {
    margin-bottom: 25px;
  }

  .img-project {
    position: relative;
    height: 200px;
    top: -5.5px;
    border-radius: 8px 0 0 8px;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-text h3 {
    font-size: 200%;
    margin: 15px 0 5px 5px;
  }

  .card-text p {
    font-size: 20px;
    margin: 5px 0 5px 5px;
  }

  .card-btn {
    font-size: 120%;
    margin: 10px 0 0 5px;
    padding-top: 5.5px;
    height: 35px;
    border-radius: 5px;
  }
}
